

@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Chomsky';
    src: local('Chomsky'),
      url(../assets/font/Chomsky.woff) format('woff');
  }

@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind utilities;

@media (max-width : 986px){
    .change986px{
        font-size: 7rem;
    }
}

.maxWidth{
    max-width: 85vw;
}
.hzHeight{
    height: 1px;
}